Solucion_WCF_Service/Examen_ASPNET/Connected Services/ServiceReference1/Service1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Service1" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:54451/Service1.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:54451/Service1.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:54451/Service1.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WCFExamen" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IService1_Solicitudes_InputMessage">
    <wsdl:part name="parameters" element="tns:Solicitudes" />
  </wsdl:message>
  <wsdl:message name="IService1_Solicitudes_OutputMessage">
    <wsdl:part name="parameters" element="tns:SolicitudesResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_Actividades_InputMessage">
    <wsdl:part name="parameters" element="tns:Actividades" />
  </wsdl:message>
  <wsdl:message name="IService1_Actividades_OutputMessage">
    <wsdl:part name="parameters" element="tns:ActividadesResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_Agregar_InputMessage">
    <wsdl:part name="parameters" element="tns:Agregar" />
  </wsdl:message>
  <wsdl:message name="IService1_Agregar_OutputMessage">
    <wsdl:part name="parameters" element="tns:AgregarResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_Eliminar_InputMessage">
    <wsdl:part name="parameters" element="tns:Eliminar" />
  </wsdl:message>
  <wsdl:message name="IService1_Eliminar_OutputMessage">
    <wsdl:part name="parameters" element="tns:EliminarResponse" />
  </wsdl:message>
  <wsdl:portType name="IService1">
    <wsdl:operation name="Solicitudes">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/Solicitudes" message="tns:IService1_Solicitudes_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/SolicitudesResponse" message="tns:IService1_Solicitudes_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Actividades">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/Actividades" message="tns:IService1_Actividades_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/ActividadesResponse" message="tns:IService1_Actividades_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Agregar">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/Agregar" message="tns:IService1_Agregar_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/AgregarResponse" message="tns:IService1_Agregar_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Eliminar">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/Eliminar" message="tns:IService1_Eliminar_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/EliminarResponse" message="tns:IService1_Eliminar_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IService1" type="tns:IService1">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Solicitudes">
      <soap:operation soapAction="http://tempuri.org/IService1/Solicitudes" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Actividades">
      <soap:operation soapAction="http://tempuri.org/IService1/Actividades" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Agregar">
      <soap:operation soapAction="http://tempuri.org/IService1/Agregar" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Eliminar">
      <soap:operation soapAction="http://tempuri.org/IService1/Eliminar" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service1">
    <wsdl:port name="BasicHttpBinding_IService1" binding="tns:BasicHttpBinding_IService1">
      <soap:address location="http://localhost:54451/Service1.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>